# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# ensure the LF line endings
[*.{abap,md,properties}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true


# we want indentation of 4 spaces
[*.json]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
