name: Don't delete examples

on:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    # Name the Job
    name: Don't delete examples

    runs-on: ubuntu-latest

    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v4
    - name: Get deleted files
      id: changed-files
      uses: tj-actions/changed-files@v44
      with:
        path: file-formats/*/examples

    - name: List all deleted files
      env:
        ALL_DELETED_FILES: ${{ steps.changed-files.outputs.deleted_files }}
      run: |
        for file in ${ALL_DELETED_FILES}; do
          echo "::error file={$file}, line={1}, endLine={1}, title={Example has been deleted}::{Example has been deleted}"
          exit 1
        done
