name: Compatability Check

on:
  pull_request:

jobs:
  compatible:
    name: Is change compatible
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v4
    - name: Run script
      id: check_incompability
      run: |
        cd compatibility-check
        npm ci
        npm run check
